@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    max-height: 100vh;
    box-sizing: border-box;
}

body{
    background-color: #eaebfe;
    display: flex;
}

.imagen-fondo{
    height: 680px;
    position: absolute;
    left: 20%;
}

.container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo-cuenta{
    text-align: center;
    font-size: 30px;
}

.imagen-contraseña{
    width: 29px;
    height: 30px;
    position: absolute;
    top: 38.5%;
    left: 35%;
}

.usuario{
    background-color: #c2c4f4;
    border-radius: 40px;
    border-color: transparent;
    outline: none;
    width: 50%;
    height: 70px;
    margin-left: 200px;
    cursor: text;
}

.usuario::placeholder{
    color: white;
    padding: 20px;
    font-size: 20px;
}

button{
    background-color: #694ae6;
    border-radius: 40px;
    border-color: transparent;
    outline: none;
    width: 50%;
    height: 70px;
    margin-left: 200px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 0.8em 1.5em;
}

.inferiores{
    display: flex;
    font-size: 20px;
}

.check{
    margin-left: 170px;
}

.inferiores a{
    margin-left: 130px;
}
